.bar {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.categories {
  position: fixed;
}

.card {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
  justify-content: space-around;
}

.products {
  border: solid 1px black;
  height: 350px;
  width: 250px;
}

.card-img {
  height: 200px;
  width: 200px;
}
